<p id="notice"><%= notice %></p>

<p>Client: <%= link_to @update.board.client.name, @update.board.client %></p>
<p>Curator: <%= link_to @update.board.curator.name, @update.board.curator %></p>

<%= render partial: 'detail', locals: { update: @update } %>

<%= edit_link @update, edit_board_update_path(@board, @update) %>
<%= link_to 'Back', board_updates_path(@board) %>
